
Genomic/raw downloads/uniprot-Hydrolases.fasta.gz
Genomic/raw downloads/uniprot-isomerase.fasta.gz
Genomic/raw downloads/uniprot-ligase.fasta.gz
Genomic/raw downloads/uniprot-Lyase.fasta.gz
Genomic/raw downloads/uniprot-Oxidoreductases.fasta.gz
Genomic/raw downloads/uniprot-Transferases.fasta.gz
Genomic/raw unzipped/uniprot-Lyase.fasta
Genomic/raw unzipped/uniprot-ligase.fasta
Genomic/raw unzipped/uniprot-isomerase.fasta
Genomic/raw unzipped/uniprot-Hydrolases.fasta
Genomic/genomics/final_data/protien-sequences.csv
DV Section B - Team 1/Data Visualization/survey_results_public.csv
DV Section B - Team 1/data/survey_results_public.csv
